<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.QanLyNhaTro_DuAn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".LapHoaDonActivity"
            android:exported="true" />
        <activity android:name=".DanhSachHoaDonActivity" />
        <activity android:name=".DanhSachPhongActivity" />
        <activity android:name=".ChiTietHoaDonActivity" />
        <activity android:name=".HoaDonCuaTungPhongActivity" />
        <activity android:name=".TrangChuActivity" />
        <activity android:name=".ManDangNhap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>