<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.QanLyNhaTro_DuAn">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".DanhSachPhong_HoaDonActivity"
            android:exported="true" />
        <activity
            android:name=".SuaKhachActivity"
            android:exported="true" />
        <activity
            android:name=".ThemNguoiThueActivity"
            android:exported="true" />
        <activity
            android:name=".XemThanhVienActivity"
            android:exported="true" />
        <activity
            android:name=".SuaPhongActivity"
            android:exported="true" />
        <activity
            android:name=".ThemPhongActivity"
            android:exported="true" />
        <activity
            android:name=".CapNhatGiaDienNuocActivity"
            android:exported="true" />
        <activity
            android:name=".LapHoaDonActivity"
            android:exported="true" />
        <activity
            android:name=".DanhSachHoaDonActivity"
            android:exported="true" />
        <activity
            android:name=".DanhSachPhongActivity"
            android:exported="true" />
        <activity
            android:name=".ChiTietHoaDonActivity"
            android:exported="true" />
        <activity
            android:name=".HoaDonCuaTungPhongActivity"
            android:exported="true" />
        <activity
            android:name=".TrangChuActivity"
            android:exported="true" />
        <activity android:name=".ManDangNhap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>